.chat-message .input-group input {
    padding-left: 30px;
}

.chat-message i svg {
    position: absolute;
    left: 6px;
    top: 11px;
    z-index: 99;
}

.chat-message i svg:hover {
    cursor: pointer;
}



.chat-message i svg path {
    color: grey;
}