/* .cursor {
	position: fixed;
	width: 10px;
	height: 10px;
	background-color: honeydew;
	border-radius: 50%;
	pointer-events: none;
	z-index: 9999;
	transition: transform 0.8s ease, opacity 0.8s ease;
	transform: translate(-50%, -50%);
	opacity: 1;
} */

:root {
	--primary-color: #c17474;
	--secondary-color: rgb(110, 194, 110);
}

.side-button {
	position: absolute;
	left: 5;
	top: 50%
}

body {
    margin: 0; 
    padding: 0; 
	height: 100% !important;
	width: 100% !important;
	background: rgb(216, 209, 209);
	/* background: var(--primary-color); */
	/* background: linear-gradient(#e66465, #9198e5); */
}

.side-color {
    background: var(--secondary-color); 
}

.side-color .card-body {
	border: 1px solid #fff;
	border-radius: 8px;
}

.commonBox {
	/* border: 1px solid #6b6b6b; */
	border-radius: 8px;
	/* box-shadow: 0 3px 3px var(--primary-color); */
}

.my-btn {
	background: #fff;
	padding: 10px 12px;
	color:var(--primary-color);
	font-weight: 800;
	border: 2px solid var(--primary-color);
	border-radius: 8px;
}

.form-control {
	color: grey;
	background: none;
	border: none;
	border-bottom: 1px solid grey;
	display: block;
	width: 100%;
	padding: 0.422rem 0.875rem;
	font-size: 0.9375rem;
	font-weight: 400;
	line-height: 1.5;
	background-color: #fff;
	background-clip: padding-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0.375rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

	&:focus {
		box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, 0.3);
		background-color: #fff;
		color: #6f6b7d;
		outline: 0;
	}
}

.card {
	border: none;
}